<div class="row" style="margin-top: 20px;">
    <div class="col-md-8 offset-md-2">

        <ul class="list-group">
            <li class="list-group-item" *ngFor="let item of cartItems">
                <app-cart-item [cartItem]="item"></app-cart-item>
            </li>
        
            <li class="list-group-item">
                <strong>Delivery fee</strong> {{ deliveryFee | currency }}
            </li>    
        
            <li class="list-group-item active">
                <strong>Cart Total</strong> {{ cartTotal | currency }}
            </li>
        </ul>
        
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-4 offset-md-4">
                <div class="btn-group" *ngIf="cartItems.length > 0">
                    <button type="button" class="btn btn-primary btn-block" (click)="onPlaceOrder()">
                      Place order
                    </button>
                  </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div>
                    <div>
                        <p><a routerLink="/shopping">Continue shopping</a></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

